@charset "utf-8";
/* CSS Document */
body
{
	
	margin:0px;
	background-color:#36648b;
	
}
#navBar
{
	position: sticky;
	top:0;
	
}
.nav
{
	list-style-type: none;
	padding:0px;
	margin: 0px;
	overflow:hidden;
	background-color: #739ac5;
}
.pos1{
	float:left;
	width:30%;
	
}	
.pos
{
	padding:26px 25px 0px;
	float:left;
	font-size:2em;
	color:black;
	font-weight:100;
}
.active
{
	color:white;
	text-decoration: underline;
	text-decoration-color: white;
}
.a
{
	text-decoration: underline;
	text-decoration-color: white;
}
.block
{
	display:block;
	text-decoration: none;
	color:#1F3B52;
}
.size
{
	max-width:100%;
	height:auto;
	
}


/*Responsive*/
@media screen and (max-width: 860px)
{
  ul.nav li.pos1,  ul.nav li.pos
	{
		float: none;
		text-align: center;
	}
	li.pos1
	{
		margin-left: auto;
		margin-right: auto;
		width:50%;
		height:auto;
	}
	li.pos
	{
		border-bottom: 1px solid white;
		font-size:1.2em;
		font-weight:300;
		padding:5px;
	}
	li.a
	{
		border-top:1px solid white;
		margin:0px;
		padding:0px;
	}
	.a
    {
	    background-color:#A0BAD7;
		text-decoration: none;
    }
	.active
	{
		padding: 5px;
	}
	.fit
	{
		font-size: 4.4vw;
		float:none;
	}
	li.b
	{
		border-top:1px solid white;
		margin:0px;
		padding:0px;
	}
}




a.block:hover {
  color: #cc3366;
}

/*NavBar Ends*/

/*Content Begins*/
#content
{
	margin:25px;
	font-size:1.9em;
	color:#ADD8E6;
	
}

.flex
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
a.s
{
	text-decoration: none;
		color:#ADD8E6;
	transition: font-size 1s;
}
a.s:hover
{
  color: #cc3366;
  font-size:1.95em;	
}
