@charset "utf-8";
/* CSS Document */
body
{
	padding:0px;
	margin:0px;
	background-color:#36648b;
	
}
#links
{
	padding:0px 20px 20px;
	font-size: 1.2em;

}
ul
{
	list-style-type: none;
}

.light::before
{
	
	
	content:"🎬"; 
	margin-left:-25px;
	margin-right: 20px;
    font-size: 1.35em;
}
li.light
{
	padding:2px 0px;
	color:#ADD8E6;
	font-size: 1.2em;
}
a.b
{
	text-decoration: none;
	font-size:1.2em;
	font-weight: 150;
	color:#ADD8E6;
}
.small1
{
	font-size:0.8em;
	text-decoration:none;
	color:black;
	padding:0px 35px;
	
}
.small
{
	text-decoration: underline;
	color:#000000;
	font-size:0.9em;
}