@charset "utf-8";
/* CSS Document */
body
{
	
	margin:0px;
	background-color:#36648b;
	
}
#links
{
	padding:0px 20px 20px;
	font-size: 1.1em;

}
ul
{
	list-style-type: none;
}

.light::before
{
	
	
	content:"🎬"; 
	margin-left:-25px;
	margin-right: 20px;
    font-size: 1.15em;
}
li.light
{
	padding:5px 0px;
}
a.b
{
	text-decoration: none;
	font-size:1.2em;
	font-weight: 150;
	color:#ADD8E6;
}

